@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

@font-face {
    font-family: 'Guardians';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Guardians.ttf);
}

/* stilo geral ↓↓↓*/
*{
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
 
}
/* stilo da parte de cima da pagina ↓↓↓*/
.links{
    display: flex;
    gap: 4em;
}

    /* stilo da imagem dde fundo parte de cima da pagina ↓↓↓*/
.inicioPagina{
    background-image: url(../Imagem/imagem\ certa.png);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 565px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

 /* stilo do cabeçalho  ↓↓↓*/
.barradenavegar{
    display: flex;
    justify-content: space-between;
    padding: 3em 10em;
    align-items: center;
}

 /* estilo de imagem e dados do usuario ↓↓↓*/
.usuario{
    display: flex;
    align-items: center;
    gap: 1em;
}

/* estilo de imagem do usuario ↓↓↓*/
.usuario img{
    width: 53px;
    height: 50px;
    border-radius: 50%;
}
 /* estilo para definir a cor da escrita dos dados do usuario ↓↓↓*/
.usuario span{
    color: white;
}

/* estilo para definir a cor e tirar as linhas abaixo dos links da ↓↓↓*/
.barradenavegar a{
    color: white;
    text-decoration: none;
}

/* estilo para definir direção e alinhamento dos dados do saldo ↓↓↓*/
.saldoPaginaInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* estilo para definir o numero do saldo ↓↓↓*/
.saldoPaginaInicial h3{
    font-family: 'Guardians';
    font-size: 80px;
    color:#DCB8F8;
}

/* estilo para definir a palavra Joia ↓↓↓*/
.saldoPaginaInicial h4{
    color:#DCB8F8;
    font-size: 24px;
    font-weight: 400;
}

/* estilo para definir as imagem das Joias ↓↓↓*/
.joiasPaginaInicial{
    display: flex;
    margin-top: 2%;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}
/* estilo para definir ESPAÇO E COR "vence em 06/julho " ↓↓↓*/
.lembretesHome{
    padding: 2em;
    text-align: center;
    color: white;
    
}

/* estilo para definir "2º ciclo degestão de desempenho  " ↓↓↓*/
  /*first-child selecionar o primeiro elemento do elemento pai*/
.lembretesHome div:first-child{
    font-size: 18px;
    font-weight: 700;
    background-color: #080115;
    padding: 0.5em 1em;
    border-radius: 15px;
    width: 500px;
    margin: 0 auto;
}

/*lest-child selecionar o ULTIMO elemento do elemento pai*/
.lembretesHome div:last-child{
    font-size: 20px;
    line-height: 5em;
}

/*estilo da barra de pesquisa*/
.barraPesquisa{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    background-color: white;
    width: 560px;
    height: 72px;
    border-radius: 8px;
    box-shadow: 0px 7px 30px 0px #BBC0CD66;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
}
/*estilo da imagem de Lupa na barra de pesquisa*/
.barraPesquisa img{
   width: 32px; ;
   margin-left: 10px;
   padding-left: 20px;
}
/*estilo do Input "entrada" espaçamento,bordas, altura*/
.barraPesquisa input{
    padding: 1em 1.5em;
    width: 80%;
    outline: 30;
    border: none;
    margin: 0 1em;
    color:#9E9E9E;
    font-size: 18px; 
}

/*estilo segundo banner da pagina,imagem,espaço bordas ... */
 .bannerAvaliacao{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 350px;
    margin: 8em auto;
    background-image: url(../Imagem/imagem\ certa.png);
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 16px;
 }

 /*estilo segundo banner "data esta proxima"- "avaliação de dezempenho ... */
 .infoBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
    color: white;
    margin: 0 auto;
    padding: 0 64px;
 }

 /*estilo segundo banner "data esta proxima" converter em MAIUSCULA */
 .infoBanner h4{
    text-transform: uppercase;
 }

/*estilo segundo banner  "avaliação de dezempenho" TAMANHO DA LETRA  E ESPAÇO ENTRE AS LETRAS... */
 .infoBanner h3{
    font-size: 40px;
    letter-spacing: 0.2px;
 }

 /*estilo segundo banner  "25 de novembro" TAMANHO DA LETRA  E COR DA LETRA... */
 .infoBanner h5{
    color: #DCB6F8;
    font-size: 18px;
    font-weight: 400;
 }

 /*estilo segundo banner  "IMAGEM DO CALENDARIO" Alinhamento na pagina. */
 .infoData{
    display: flex;
    align-items: center;
    gap: 0.5em;
 }

 /*estilo segundo banner  "IMAGEM de pontos" Alinhamento da imagem na pagina. */
 .imagensGardioesePontos{
    display: flex;
    align-items: end;
 }

 /*estilo segundo banner  "IMAGEM de pontos" Alinhamento da imagem na pagina de acordo com o pai  */
 .imagensGardioesePontos img:first-child{
    z-index: 1;
 }
 
 /*estilo segundo banner  "IMAGEM de pontos" Alinhamento da imagem na pagina de acordo com o pai  */
 .imagensGardioesePontos img:last-child{ /* ultimofilho*/
    width: 170px;
    position: relative;
    right: 59px;
}
/* estilo das letras da Titulo " Produtos pra você" e posicionamento preencimento na lateral */
.produtos h2{
    font-size: 32px;
    padding: 0 50px;
    margin: 0 auto;

}
/*alinhar a posição que os produtos vindo da Api aparecerão na pagina */
.resgatarProdutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em auto;
    align-items: flex-end;
    
}
/*alinhar a posição que os produtos  vindo da Api aparecerão na pagina, container → "nome,joias,botão" */
.resgatarProdutos div{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 50%;
    max-width: 270px;
    gap: 0.5em;
    border-radius: 16px;
   
}
/*estilo da IMAGEM do produto vindo da Api ↓↓↓*/
.presgatarProdutos img{
    width: 50%;
    height: 50%;
    max-width: 270px;
    max-height: 175px;
    margin: 0 auto;
    
}

/* estilo da ESCRITA do "nome do produto" vindo da Api*/
.resgatarProdutos h2{
    font-size: 14px;
    text-align: start;
    margin: 0 auto;
    width: 75%;
}

/* estilo da ESCRITA "jOIAS" vindo da Api* COR, MARGEM,ALTURA */
.resgatarProdutos span{
    color:#9E9E9E;
    font-size: 12px;
    margin: 0 auto;
    margin: 0 auto;
    width: 75%;
}
/* estilo do botão "resgatar" cor,altura,magem*/
.produtos button{
    background-color: #502B6B;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 0.8em;
    width: 80%;
    margin: 0 auto;
}