@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(../Imagem/imagem\ certa.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.logo{
display: flex;
justify-content: center;
align-items: center;*/
}

.imagemLogoFundo{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh; 
}

.imagemLogo img{
   /* imagemLogo da logo */
    width: 50%;
}

.facaLogin{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 50vw;
    height: 100vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    flex-direction:column;
    align-items:center;   
}

.login h1{
    color: #502B6B;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: left;
 width: 15em;   
}

.login span {
    text-align: left;
    width: 30em;
}

label{
    margin-left: 0.5em;
    color: darkgrey;
}

input{
    padding: 0.4em;
    font-size: 18px;
    font-weight: 500;
    width: 30 em;
    border: none;
    outline:none;  
}


.input{
  padding: 0.5em;
  border: 1px solid rgb(89, 89, 95);
  border-radius: 15px;
  width: 30em;
  margin: 0.8em;
}

button{
    background-color: #502B6B;
    color: white;
    font-size: 20px;
    margin: 0.8em 3em;
    width: 25em;
    padding: 0.9em;
    border-radius: 20px;
    font-weight: 700;
    justify-content: center;
}