@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

body {
    margin: 10;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Imagem/imagem\ certa.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.logo{
display: flex;
}

.imagemLogoFundo{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
     
 
    
}
.imagemLogo img{
   /* imagemLogo da logo */
    width: 50%;
}

.login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    gap: 0.5em;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 50vw;
    height: 100vh;

    
}

.login span{
    font-size: 16px;
    color: #3E4C76;
}

.login h1{
    color: #502B6B;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

label{
    margin-left: 0.5em;
    color: darkgrey;
}
input{
    
    padding: 0.4em;
    font-size: 18px;
    font-weight: 500;
    width: 95%;
    border: none;
    outline:none;

}

.input{
  padding: 0.5em;
  border: 1px solid rgb(89, 89, 95);
  border-radius: 15px;
  width: 22em;
  margin: 0.9em 0;
  
}

button{
    background-color: #502B6B;
    color: white;
    font-size: 20px;
    margin: 1em 0;
    width: 100%;
    padding: 1em;
    border-radius: 15px;
    font-weight: 700;
}